/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Theme Colors */
:root {
    --accent-color: #C5A992;
    --secondary-color: #C5A992;
    --dark-color: #2f2f2f;
    --light-color: #F3F2EC;
    --body-text-color: #757575;
    --light-text-color: #afafaf;
    --dark-text-color: #2f2f2f;
}

body {
    margin-top: 40px;
    font-family: Arial, sans-serif;
    background-color: var(--light-color);
    color: var(--body-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Container */
.registration-container {
    margin-top: 10px;
    width: 100%;
    max-width: 400px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

/* Form */
.registration-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

.form-group input:focus {
    border-color: rgb(80, 52, 0);
    outline: none;
}

/* Button */
.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #d2ad46;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.submit-button:hover {
    background-color: #000000;
}
